// SAP Horizon base parameters (Base/baseLib/sap_horizon/base.less)
@sapBrandColor: #0070f2;
@sapHighlightColor: #0064d9;
@sapBaseColor: #fff;
@sapShellColor: transparent;
@sapBackgroundColor: #f5f6f7;
@sapFontColor: #1d2d3e;
@sapTextColor: #1d2d3e;
@sapLinkColor: #0064d9;
@sapCompanyLogo: none;
@sapBackgroundImage: none;
@sapBackgroundImageOpacity: 1;
@sapBackgroundImageRepeat: false;
@sapContent_GridSize: 1rem;
@sapNegativeColor: #aa0808;
@sapCriticalColor: #e76500;
@sapPositiveColor: #256f3a;
@sapInformativeColor: #0070f2;
@sapNeutralColor: #788fa6;

@sapGroup_TitleBackground: transparent;
@sapGroup_ContentBackground: #fff;
@sapGroup_ContentBorderColor: #d9d9d9;
@sapGroup_FooterBackground: transparent;
@sapToolbar_Background: transparent;
@sapList_HeaderBackground: #fff;
@sapList_Background: #fff;
@sapList_AlternatingBackground: #f5f6f7;
@sapList_SelectionBackgroundColor: #ebf5fe;
@sapTile_Background: #fff;
@sapTile_BorderColor: transparent;
@sapButton_Background: #fff;
@sapButton_BorderColor: #bcc3ca;
@sapButton_TextColor: #0064d9;
@sapField_Background: #fff;
@sapField_BorderColor: #89919a;
@sapField_TextColor: #1d2d3e;
